.navBar {
    width: 200px;
    padding: 10px 100px 10px 20px;
    margin-top: 20px;
    background: rgb(247,196,94);
    background: linear-gradient(159deg, rgba(247,196,94,1) 1%, rgba(255,255,255,1) 95%);
    display: flex;
    flex-direction: column;
}

.navBar__link {
    text-decoration: none;
    font-size: 18px;
    color: #FF2D55;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar__link.active {
    color: white;
}